.kotlin
node_modules
.gemini
/brain
local.properties
.gradle
/*/build
/shared/build
/.konan
/iosApp/iosApp.xcworkspace
/iosApp/DerivedData
*.iml
.idea
gradle-app.properties
*.hprof
.externalNativeBuild
.cxx
Captures/
.DS_Store
